* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

img {
    max-width: 100%;
}

.all {
    flex-grow: 1;
}

/* popap */
.popap_position {
    position: relative;
    display: flex;
    justify-content: center;
}

.popap {
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 418px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    text-align: center;
    margin-top: 80px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.popap_title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 26px;
    margin-bottom: 36px;
    text-align: center;

}

.popap_input_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 56px;
    margin-bottom: 71px;
    align-content: center;
}

.popap_input {
    padding: 17px 0 10px 14px;
    width: 444px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.popap_button {
    background: #EA6113;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 51px;
    text-decoration: none;
}

.visible {
    display: none;
}

/* header */

.header {
    background-color: #213B7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 16px;
    margin: 0 70px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
}

.menu_list {
    list-style: none;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 29px 19px;
    display: flex;
}

.menu_link_activ {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
}

.button {
    background-color: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 51px;
}

/* index */

.index {
    padding-left: calc(50% - 911px/2);
    padding-right: calc(50% - 911px/2);
}

.title {
    margin-top: 33px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 634px;
}

.content_text_head {
    margin-top: 15px;
    margin-bottom: 10px;
}

.em_decoration {
    color: #CF5510;
}

.heading {
    font-family: lobster;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;
    width: 129px;
    position: relative;
    top: 35px
}

.kav {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
}

.kav_left {
    top: -9px;
    left: -31px;
}

.kav_right {
    top: 35px;
    right: -20px;
}

/* students */

.students {
    padding-left: calc(50% - 1202px/2);
    padding-right: calc(50% - 1202px/2);
}

.students_content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.student {
    position: relative;
}

.student_new {
    position: absolute;
    top: -12px;
    right: -13px;
    width: 94px;
    height: 24px;
    background: #3AA828;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 2px 1px 1px 5px;
}

.student_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 8px;
    width: 200px;
    text-align: center;
}

/* about */

.about {
    padding-left: calc(50% - 820px/2);
    padding-right: calc(50% - 820px/2);
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 15px;
}

/* contacts */

.title_map {
    margin-left: 288px;
}

.map {
    text-align: center;
}

.map_size {
    width: 1268px;
    height: 370px;
}

.contacts_title {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 288px;
}

.contacts_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 439px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 288px;
}

.tel {
    color: black;
}

/* footer */

.footer {
    background-color: #213B7E;
    margin: 0 70px;
    margin-top: 50px;
}

.footer_text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    padding: 19px 0;
}

.footer_text_link {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 280px) and (max-width: 1198px) {
    .header {
        margin: 0;
    }

    .footer {
        margin: 0;
    }

    .menu {
        margin-left: 0;
    }

    .title_students {
        text-align: center;
    }

    .map_size {
        max-width: 100%;
    }
}

@media (min-width: 280px) and (max-width: 1024px) {
    .content {
        justify-content: normal;
        gap: 50px;
    }

    .title_map {
        margin-left: 0;
    }

    .title {
        text-align: center;
    }

    .contacts_title {
        margin-left: 20px;
    }

    .contacts_text {
        margin-left: 20px;
    }
}

@media (min-width: 280px) and (max-width: 850px) {
    .index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        margin-bottom: 50px;
    }

    .title {
        font-size: 24px;
    }

    .about_text {
        font-size: 20px;
        margin-left: 20px;
    }

    .contacts_title {
        font-size: 20px;
    }

    .contacts_text {
        font-size: 15px;
    }
}

@media (min-width: 280px) and (max-width: 768px) {
    .header {
        display: flex;
        flex-wrap: nowrap;
    }

    .menu {
        max-width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content {
        text-align: center;
    }

    .students_content {
        margin-bottom: 20px;
    }

    .logo {
        max-width: none
    }

    .popap {
        width: 400px;
    }


    .popap_input {
        width: 333px;
    }

}

@media (min-width: 280px) and (max-width: 424px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu_link {
        font-size: 16px;
        padding: 15px 10px;
    }

    .button {
        font-size: 16px;
        padding: 10px 30px;
    }

    .title {
        font-size: 20px;
    }

    .about_text {
        font-size: 16px;
    }

    .contacts_title {
        font-size: 16px;
    }

    .contacts_text {
        font-size: 13px;
    }

    .student_name {
        font-size: 16px;
    }

    .popap {
        width: 300px;
        height: 300px;
    }

    .popap_title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 18px;
        margin-bottom: 25px;

    }

    .popap_input_block {
        gap: 36px;
        margin-bottom: 35px;
    }

    .popap_input {
        width: 250px;
        height: 24px;
        font-size: 18px;
        line-height: 28px;
        padding: 13px 0 7px 14px;
    }

    .popap_button {
        font-size: 16px;
        line-height: 21px;
        padding: 10px 30px;
    }
}